name: Build, package, deploy and run on AWS EC2 

on:
  push:
    branches:
      - main
jobs:
  build-and-deploy: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Java environment
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build and package with Maven
      run: mvn clean package
    - name: Docker login
      env: 
        DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run:
        docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - name: Docker push to DockerHub
      env:
        DOCKER_REPO: ${{secrets.DOCKER_REPO}}
        DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: |
        docker build -t $DOCKER_REPO .
        docker tag $DOCKER_REPO:latest $DOCKER_USERNAME/$DOCKER_REPO:latest
        docker push $DOCKER_USERNAME/$DOCKER_REPO
    - name: Connect to EC2, pull from DockerHub, and run
      uses: appleboy/ssh-action@master
      with:
        host: ec2-44-203-75-157.compute-1.amazonaws.com
        username: ec2-user
        key: ${{secrets.AWS_SECRET_KEY}}
        command_timeout: 20s
        envs: GitHub-EC2
        script: |
          docker login
          docker pull $DOCKER_USERNAME/$DOCKER_REPO:latest
          docker stop $(docker ps -a -q)
          docker rm $(docker ps -a -q)   
          docker run -p 8080:8080 $DOCKER_USERNAME/$DOCKER_REPO
