name: Build, package, deploy and run on AWS EC2 

on:
  push:
    branches:
      - main
jobs:
  build-and-deploy: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Java environment
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build and package with Maven
      run: mvn clean package
    - name: Docker login
      env: 
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run:
        docker login -u cvl023 -p $DOCKER_PASSWORD
    - name: Docker push to DockerHub
      env:
        REPO: test-java
      run: |
        docker build -t test-java .
        docker tag test-java:latest cvl023/test-java:latest
        docker push cvl023/test-java
    - name: DockerHub pull and run on AWS EC2
      uses: appleboy/ssh-action@master
      with:
        host: ec2-174-129-114-30.compute-1.amazonaws.com
        username: ec2-user
        key: ${{secrets.AWS_SECRET_KEY}}
        command_timeout: 20s
        envs: GitHub-EC2
        run: 
          docker login
          docker pull cvl023/test-java:latest
          docker stop $(docker ps -a -q)
          docker rm $(docker ps -a -q)   
          docker run -p 8080:8080 cvl023/test-java
